* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.drive {
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
}

.video {
    height: 480px;
    width: 640px;
}

.drive h1 {
    margin-bottom: 30px;
}

.marquee {
    width: 100%;
    margin-top: 100px;
    color: rgb(192, 49, 49);
    text-align: center;
}

@media screen and (max-width: 500px) {
    .video {
        width: 380px;
        height: 200px;
    }
}